{
  "extends": ["../../../.eslintrc", "plugin:cypress/recommended"],
  "rules": {
    "no-prototype-builtins": "off",
    "@typescript-eslint/triple-slash-reference": "off"
  },
  "ignorePatterns": ["!**/*"]
}
