# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

web:
  env:
    API_URL: 'http://web-api'

search-indexer-service:
  namespace: search-indexer
  serviceAccount:
    create: true
    name: 'search-indexer'
    annotations:
      eks.amazonaws.com/role-arn: 'arn:aws:iam::013313053092:role/search-indexer'
  secrets:
    CONTENTFUL_ACCESS_TOKEN: '/k8s/search-indexer/CONTENTFUL_ACCESS_TOKEN'
  env:
    APPLICATION_URL: 'http://search-indexer-service'
    ELASTIC_NODE: 'https://vpc-search-njkekqydiegezhr4vqpkfnw5la.eu-west-1.es.amazonaws.com'
    ELASTIC_INDEX: 'island-is'
    CONTENTFUL_SPACE: '8k0h54kbe6bj'
    CONTENTFUL_ENVIRONMENT: 'master'
    CONTENTFUL_HOST: 'preview.contentful.com'
    S3_BUCKET: 'dev-es-custom-packages'

  migration_script: /webapp/migrate.js
  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx-external
      cert-manager.io/cluster-issuer: letsencrypt-dns01-cluster-issuer
    hosts:
      - host: search-indexer-service.dev01.devland.is
        paths: ['/']
    tls:
      - secretName: search-indexer-service-tls
        hosts:
          - search-indexer-service.dev01.devland.is

  initContainer:
    create: true
    env:
      ELASTIC_NODE: 'https://vpc-search-njkekqydiegezhr4vqpkfnw5la.eu-west-1.es.amazonaws.com'
      APPLICATION_URL: 'http://search-indexer-service'
      ELASTIC_INDEX: 'island-is'
      S3_BUCKET: dev-es-custom-packages
