.app {
  font-family: sans-serif;
  min-width: 300px;
  max-width: 600px;
  margin: 50px auto;
}

.app .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app header {
  background-color: #143055;
  color: white;
  padding: 5px;
  border-radius: 3px;
}
