# Fallback. If there is no owner, assign to core maintainers.
# Remove fallback rule while graphql files are in the way.
# *                                                       @island-is/core

/*                                                        @island-is/core
/.github/                                                 @island-is/core
/handbook/                                                @island-is/core

# Add new projects here.
# Project folders are usually owned by the team assigned.

# Order is important; the last matching pattern takes the most precedence.
# Make sure that team names are correct or everything stops working.
# Organisation name is @island-is, not @island.is

/apps/web*/                                               @island-is/kosmos-kaos @island-is/aranja
/libs/api/domains/cms/                                    @island-is/kosmos-kaos @island-is/aranja

/*/air-discount-scheme/                                   @island-is/vice-versa
/*/gjafakort/                                             @island-is/vice-versa @island-is/kosmos-kaos
/libs/application/templates/driving-license/              @island-is/vice-versa
/libs/application/templates/passport/                     @island-is/vice-versa
/libs/api/domains/driving-license/                        @island-is/vice-versa
/libs/service-portal/driving-license/                     @island-is/vice-versa
/libs/service-portal/eligibility/                         @island-is/vice-versa

/apps/application-system/                                 @island-is/aranja
/apps/reference-next-app/                                 @island-is/aranja
/libs/api/domains/application/                            @island-is/aranja
/libs/application/core/                                   @island-is/aranja
/libs/application/data-providers/                         @island-is/aranja
/libs/application/graphql/                                @island-is/aranja
/libs/application/ui-fields/                              @island-is/aranja
/libs/application/ui-shell/                               @island-is/aranja
/libs/application/api-template-modules/                     @island-is/aranja
/libs/application/template-loader/                        @island-is/aranja
/libs/application/templates/meta-application/             @island-is/aranja
/libs/application/templates/parental-leave/               @island-is/aranja
/libs/application/templates/reference-template/           @island-is/aranja
/libs/utils/api/                                          @island-is/aranja
/libs/vmst-client/                                        @island-is/aranja

/libs/application/templates/children-residence-change/    @island-is/kolibri-modern-family

/apps/judicial-system/                                    @island-is/kolibri-justice-league
/libs/judicial-system/                                    @island-is/kolibri-justice-league
/libs/nova-sms/                                           @island-is/kolibri-justice-league
/libs/dokobit-signing/                                    @island-is/kolibri-justice-league
/libs/email-service/                                      @island-is/kolibri-justice-league

/apps/service-portal*/                                    @island-is/sendiradid
/apps/services/user-profile/                              @island-is/sendiradid
/libs/api/domains/documents/                              @island-is/sendiradid
/libs/api/domains/national-registry/                      @island-is/sendiradid
/libs/service-portal/applications/                        @island-is/sendiradid
/libs/service-portal/assets/                              @island-is/sendiradid
/libs/service-portal/constants/                           @island-is/sendiradid
/libs/service-portal/core/                                @island-is/sendiradid
/libs/service-portal/documents/                           @island-is/sendiradid
/libs/service-portal/education/                           @island-is/sendiradid
/libs/service-portal/family/                              @island-is/sendiradid
/libs/service-portal/finance/                             @island-is/sendiradid
/libs/service-portal/graphql/                             @island-is/sendiradid
/libs/service-portal/health/                              @island-is/sendiradid
/libs/service-portal/settings/                            @island-is/sendiradid

/apps/services/search-indexer/                            @island-is/stefna @island-is/kosmos-kaos @island-is/aranja
/libs/content-search-toolkit/                             @island-is/stefna @island-is/kosmos-kaos @island-is/aranja
/libs/api/domains/content-search/                         @island-is/stefna @island-is/kosmos-kaos @island-is/aranja

/libs/island-ui/                                          @island-is/island-ui

/.github/actions/                                         @island-is/devops
/.github/workflows/                                       @island-is/devops
/apps/reference-backend/                                  @island-is/devops
/libs/infra*/                                             @island-is/devops
/libs/logging/                                            @island-is/devops
/scripts/                                                 @island-is/devops
/scripts/postinstall.js                                   @island-is/devops @jeremybarbet
/scripts/schemas.js                                       @island-is/devops @jeremybarbet

/libs/api/domains/api-catalogue/                          @island-is/advania
/libs/api/domains/document-provider/                      @island-is/advania
/libs/api-catalogue/                                      @island-is/advania
/libs/application/templates/document-provider-onboarding/ @island-is/advania
/libs/service-portal/document-provider/                   @island-is/advania
/apps/services/xroad-collector/                           @island-is/advania
/apps/services/documents                                  @island-is/advania

/apps/skilavottord/                                       @island-is/deloitte
/libs/skilavottord/                                       @island-is/deloitte

/apps/auth-admin-web/                                     @island-is/fuglar
/apps/auth-admin-web-e2e/                                 @island-is/fuglar
/libs/auth-api-lib/                                       @island-is/fuglar
/libs/auth-nest-tools/                                    @island-is/fuglar
