@import '../../../../libs/island-ui/fonts/fonts.css';

/* You can add global styles to this file, and also import other style files */

#root {
  min-height: 100vh;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
}

caption {
  text-align: left;
  margin-bottom: 16px;
}

th,
td {
  text-align: left;
}

.errorMessage {
  overflow: hidden;
  max-height: 0;
  transition: max-height 250ms ease;
}

.showErrorMessage {
  max-height: 50px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.logoHfj {
  width: 32px;
  height: 48px;
}

.logoContainer {
  max-width: 160px;
  display: flex;
}

.headLine {
  position: relative;
}
.headLine::before {
  content: '';
  position: absolute;
  display: block;
  height: 24px;
  width: 2px;
  left: 0px;
  background-color: #ccccd8;
  top: calc((100% / 2) - 12px);
}

.contentUp {
  opacity: 0;
  transform: translate3d(0, 30px, 0);
  animation-name: ptContentUp;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
}

.delay-25 {
  animation-delay: 25ms;
}
.delay-50 {
  animation-delay: 50ms;
}
.delay-75 {
  animation-delay: 75ms;
}
.delay-100 {
  animation-delay: 100ms;
}

@keyframes ptContentUp {
  from {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
