@import '../../../../libs/island-ui/fonts/fonts.css';
/* You can add global styles to this file, and also import other style files */

#root {
  min-height: 100vh;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
}

caption {
  text-align: left;
  margin-bottom: 16px;
}

th,
td {
  text-align: left;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hideScrollBar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollBar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.headLine {
  position: relative;
}
.headLine::before {
  content: '';
  position: absolute;
  display: block;
  height: 24px;
  width: 2px;
  left: 0px;
  background-color: #ccccd8;
  top: calc((100% / 2) - 12px);
}

.contentUp {
  opacity: 0;
  transform: translate3d(0, 15px, 0);
  animation-name: ptContentUp;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-duration: 250ms;
}

.delay-25 {
  animation-delay: 25ms;
}
.delay-50 {
  animation-delay: 50ms;
}
.delay-75 {
  animation-delay: 75ms;
}
.delay-100 {
  animation-delay: 100ms;
}
.delay-125 {
  animation-delay: 125ms;
}

@keyframes ptContentUp {
  from {
    transform: translate3d(0, 30px, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.tags {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.14;
  display: block;
  padding: 8px;
  border-radius: 8px;
}

.approved {
  background-color: #f2fefc;
  color: #00b39e;
}

.outDatedOrDenied {
  background-color: #fff2f6;
  color: #ff0050;
}

.processing {
  background-color: #f8f5fa;
  color: #6a2ea0;
}

.new {
  background-color: #f2f7ff;
  color: #0061ff;
}

.amountInput[placeholder]:empty::before {
  content: attr(placeholder);
  color: #9999b1;
}

.amountInput[placeholder]:empty:focus::before {
  content: '';
}

.amountInput:not(:empty)::after {
  content: 'kr.';
  display: inline-block;
  margin-left: 8px;
}

.logOutButtonHover:hover > svg {
  transform: translate3d(5px, 0px, 0px);
}

.errorMessage {
  opacity: 0;
  transition: opacity 250ms ease;
}

.showErrorMessage {
  opacity: 1;
}
