# vi: ft=gitignore

# Known ignores
/.github/
/.git/
/scripts/ci/
/.env.*
/.envrc*

# Cache and packages
**/node_modules/
# Ignoring _all_ cache folders dosen't work, because we have libraries named `cache`
# **/cache/
/.yarn/cache/
/cache*

# Logs and temporaries
**/log/
**/*.log
**/tmp/
**/temp/

# Outputs
**/dist/
**/out/

# Docker-stuff
**/Dockerfile
**/Dockerfile.*
**/Containerfile
**/Containerfile.*
**/*-compose.yaml
**/*-compose.yml
