#!/bin/bash
declare -A TIME_KEEP
# t <target> - get elapsed time in milliseconds since first invocation (with nanosecond precision)
t() {
  if [[ -v TIME_KEEP[$1] ]]; then
    D="$(date +%s%N | sed 's/0*//g')"
    echo "$(((D - ${TIME_KEEP[$1]}) / 1000000))"
  else
    TIME_KEEP[$1]=$(date +%N)
  fi
}
set -euo pipefail
if ! t root; then
  t() {
    echo "???"
  }
fi

# global
export NODE_OPTIONS="--max-old-space-size=8192"

# MacOS specific
export REDIS_CLUSTER_IP=0.0.0.0

# Developer custom direnv config
for envrc in .envrc.* $(if [[ "${IS_DEVCONTAINER:-}" == true ]]; then echo .devcontainer/.envrc.private; fi); do
  t "${envrc}"
  source_env_if_exists "$envrc"
  T_TOTAL=$(t "${envrc}")
  if ((T_TOTAL > 100)); then
    echo -e "\033[93mSetting '$envrc' took ${T_TOTAL}ms\033[0m"
  fi
done

echo "Loading .envrc took $(t root)ms"
