source_env .env.secret

# global

export NODE_OPTIONS="--max-old-space-size=8192"


# MacOS specific

export REDIS_CLUSTER_IP=0.0.0.0

IDENTITY_SERVER_CLIENT_ID='@island.is/clients/application-system'
IDENTITY_SERVER_CLIENT_SECRET='PPLhSMoVN66M2kzIJ7bbddH4Q'
