# MacOS specific

export REDIS_CLUSTER_IP=0.0.0.0


# application

export APPLICATION_DB_HOST=localhost
export APPLICATION_POSTGRES_PASSWORD=localhost_password

export APPLICATION_DB_USER=application_user
export APPLICATION_DB_PASS=application_password
export APPLICATION_DB_NAME=application

export APPLICATION_TEST_DB_USER=application_test_user
export APPLICATION_TEST_DB_PASS=application_test_password
export APPLICATION_TEST_DB_NAME=application_test

export CONTENTFUL_ACCESS_TOKEN=the_token
export CONTENTFUL_HOST=the_host

source_env .env.secret