# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# Contentful extensions
libs/contentful-extensions/translation/build
libs/contentful-extensions/translation/.cache
libs/contentful-extensions/mideind-translation/build
libs/contentful-extensions/mideind-translation/.cache
libs/contentful-extensions/parent-slug/build
libs/contentful-extensions/parent-slug/.cache

# dependencies
node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
TODO
*.todo
.env
.nvmrc
.node-version
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/debug.log

# System Files
.DS_Store
Thumbs.db
.cache

.env

# Used to store local secrets
.env.secret
.env
helm/**/*.tgz
/cache*

# Extracted strings for localization
libs/localization/messages.json

# Ignore automatically openapi, generated schemas, types definitions, fragments types from codegen/autoSchemaFile/servers scripts
/generated_files.tar.gz
openapi.yaml
api.graphql
schema.d.ts
schema.tsx
schema.ts
possibleTypes.json
fragmentTypes.json
**/gen/fetch/**
**/gen/graphql.ts

# IDE - Visual Studio
*.suo
/.vs
.python-version