# Add files here to ignore them from prettier formatting
# Uses .gitignore syntax

# CI/.github
.github/actions/dist*
.github/workflows/stale-prs.yml

# Schema and generated
/libs/api/domains/application/gen
gen/
*.generated.ts
/infra/helm/
/dist
/coverage

# Cache, temp
/tmp
/cache
/.cache
/*-cache
/.cypress-cache
/.nx/cache
/.nx/workspace-data

# Tooling?
/tools/**/*.js
**/*.hbs
.yarn

# Assets
apps/web/public/assets/pdf.worker.min.mjs
