# Add files here to ignore them from prettier formatting
# Uses .gitignore syntax

/dist
/coverage
.github/actions/dist*
.github/workflows/stale-prs.yml
/libs/api/domains/application/gen
gen/
*.generated.ts
/tmp
/cache
/.cache
/*-cache
/.cypress-cache
/tools/**/*.js
**/*.hbs
.yarn
/infra/helm/
/.nx/cache
/.nx/workspace-data
apps/web/public/assets/pdf.worker.min.mjs
