service:
  name: service-portal
  enabled: true
  env:
    BASEPATH: /minarsidur
    LOG_LEVEL: info
    NODE_OPTIONS: --max-old-space-size=230
    SERVERSIDE_FEATURES_ON: driving-license-use-v1-endpoint-for-v2-comms
    SI_PUBLIC_ENVIRONMENT: prod
    SI_PUBLIC_GRAPHQL_API: /api/graphql
    SI_PUBLIC_IDENTITY_SERVER_ISSUER_URL: https://innskra.island.is
  grantNamespaces:
    - nginx-ingress-internal
    - nginx-ingress-external
    - islandis
    - user-notification
    - identity-server
  grantNamespacesEnabled: true
  healthCheck:
    liveness:
      initialDelaySeconds: 3
      path: /liveness
      timeoutSeconds: 3
    readiness:
      initialDelaySeconds: 3
      path: /readiness
      timeoutSeconds: 3
  hpa:
    scaling:
      metric:
        cpuAverageUtilization: 90
        nginxRequestsIrate: 5
      replicas:
        max: 30
        min: 2
  image:
    repository: 821090935708.dkr.ecr.eu-west-1.amazonaws.com/service-portal
  ingress:
    primary-alb:
      annotations:
        kubernetes.io/ingress.class: nginx-external-alb
        nginx.ingress.kubernetes.io/proxy-buffer-size: 8k
        nginx.ingress.kubernetes.io/proxy-buffering: on
        nginx.ingress.kubernetes.io/service-upstream: "true"
      hosts:
        - host: island.is
          paths:
            - /minarsidur
        - host: www.island.is
          paths:
            - /minarsidur
  namespace: service-portal
  podDisruptionBudget:
    maxUnavailable: 1
  pvcs: []
  replicaCount:
    default: 2
    max: 30
    min: 2
  resources:
    limits:
      cpu: 300m
      memory: 256Mi
    requests:
      cpu: 5m
      memory: 32Mi
  secrets:
    CONFIGCAT_SDK_KEY: /k8s/configcat/CONFIGCAT_SDK_KEY
    SI_PUBLIC_CONFIGCAT_SDK_KEY: /k8s/configcat/CONFIGCAT_SDK_KEY
    SI_PUBLIC_DD_RUM_APPLICATION_ID: /k8s/DD_RUM_APPLICATION_ID
    SI_PUBLIC_DD_RUM_CLIENT_TOKEN: /k8s/DD_RUM_CLIENT_TOKEN
  securityContext:
    allowPrivilegeEscalation: false
    privileged: false
