<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108191323921-dhkjftdaddioqgsq4928jpfpunt62cj5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108191323921-dhkjftdaddioqgsq4928jpfpunt62cj5</string>
	<key>API_KEY</key>
	<string>AIzaSyAflgweon1HhL5Q6zLv3os-zu5PfbWcsXU</string>
	<key>GCM_SENDER_ID</key>
	<string>108191323921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>is.island.app-dev</string>
	<key>PROJECT_ID</key>
	<string>islandappdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>islandappdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108191323921:ios:fd913726dd521cb6d75eb0</string>
</dict>
</plist>