<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(DISPLAY_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.7</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>144</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
    <!-- Do not change NSAllowsArbitraryLoads to true, or you will risk app rejection! -->
    <key>NSAllowsArbitraryLoads</key>
    <false/>
    <key>NSAllowsLocalNetworking</key>
    <true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used for license scanning capabilities</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Used for unlocking the app</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Used for license scanning capabilities</string>
	<key>UIAppFonts</key>
	<array>
		<string>IBMPlexSans.ttf</string>
		<string>IBMPlexSans-Italic.ttf</string>
		<string>IBMPlexSans-Bold.ttf</string>
		<string>IBMPlexSans-BoldItalic.ttf</string>
		<string>IBMPlexSans-SemiBold.ttf</string>
		<string>IBMPlexSans-SemiBoldItalic.ttf</string>
		<string>IBMPlexSans-Light.ttf</string>
		<string>IBMPlexSans-LightItalic.ttf</string>
		<string>IBMPlexSans-ExtraLight.ttf</string>
		<string>IBMPlexSans-ExtraLightItalic.ttf</string>
		<string>IBMPlexSans-Thin.ttf</string>
		<string>IBMPlexSans-ThinItalic.ttf</string>
		<string>IBMPlexSans-Medium.ttf</string>
		<string>IBMPlexSans-MediumItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>SplashScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIUserInterfaceStyle</key>
    <string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
  <key>ITSAppUsesNonExemptEncryption</key>
  <false/>
  <key>CodePushDeploymentKey</key>
  <string>8And8KYL9BWRsUAhEBFFUxbVfVTdSM4QBQsr6</string>
</dict>
</plist>
