/*
 * Remove template code below
 */

.app {
  font-family: 'AvenirNext-Bold';
  color: white;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(50deg, #fde3a7, #cea0e4);
}
