@import '../../../../libs/island-ui/fonts/fonts.css';

/* You can add global styles to this file, and also import other style files */


#root {
  min-height: 100vh;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  overflow: hidden;
}

caption {
  text-align: left;
  margin-bottom: 16px;
}

th,
td {
  text-align: left;
}
