@import '../../../libs/island-ui/fonts/fonts.css';

html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

apple-pay-button {
  --apple-pay-button-box-sizing: border-box;
  --apple-pay-button-width: 100%;
  --apple-pay-button-height: 50px;
  --apple-pay-button-border-radius: 8px;
  --apple-pay-button-padding: 8px 0px;
}
