service:
  name: application-system-form
  enabled: true
  env:
    BASEPATH: /umsoknir
    LOG_LEVEL: info
    NODE_OPTIONS: --max-old-space-size=230
    SERVERSIDE_FEATURES_ON: ""
    SI_PUBLIC_ENVIRONMENT: staging
    SI_PUBLIC_GRAPHQL_PATH: ""
    SI_PUBLIC_IDENTITY_SERVER_ISSUER_URL: https://identity-server.staging01.devland.is
  grantNamespaces:
    - nginx-ingress-internal
    - nginx-ingress-external
    - islandis
  grantNamespacesEnabled: true
  healthCheck:
    liveness:
      initialDelaySeconds: 3
      path: /liveness
      timeoutSeconds: 3
    readiness:
      initialDelaySeconds: 3
      path: /readiness
      timeoutSeconds: 3
  hpa:
    scaling:
      metric:
        cpuAverageUtilization: 90
        nginxRequestsIrate: 5
      replicas:
        max: 3
        min: 1
  image:
    repository: 821090935708.dkr.ecr.eu-west-1.amazonaws.com/application-system-form
  ingress:
    primary-alb:
      annotations:
        kubernetes.io/ingress.class: nginx-external-alb
        nginx.ingress.kubernetes.io/proxy-buffer-size: 8k
        nginx.ingress.kubernetes.io/proxy-buffering: on
        nginx.ingress.kubernetes.io/service-upstream: "true"
      hosts:
        - host: beta.staging01.devland.is
          paths:
            - /umsoknir
  namespace: application-system
  podDisruptionBudget:
    maxUnavailable: 1
  pvcs: []
  replicaCount:
    default: 1
    max: 3
    min: 1
  resources:
    limits:
      cpu: 200m
      memory: 256Mi
    requests:
      cpu: 10m
      memory: 128Mi
  secrets:
    CONFIGCAT_SDK_KEY: /k8s/configcat/CONFIGCAT_SDK_KEY
    SI_PUBLIC_CONFIGCAT_SDK_KEY: /k8s/configcat/CONFIGCAT_SDK_KEY
    SI_PUBLIC_DD_RUM_APPLICATION_ID: /k8s/DD_RUM_APPLICATION_ID
    SI_PUBLIC_DD_RUM_CLIENT_TOKEN: /k8s/DD_RUM_CLIENT_TOKEN
  securityContext:
    allowPrivilegeEscalation: false
    privileged: false
