{{#> center}}
  <div class="copy size-{{ternary small 'small' 'normal'}} style-{{ternary style style 'normal'}}">
    <a class="text-{{ternary align align 'center'}}">{{{copy}}}</a>
  </div>
{{/center}}
