{{#> center}}
  <div class="copy size-{{ternary small 'small' 'normal'}} style-{{ternary style style 'normal'}}">
    <p class="text-{{ternary align align 'center'}}">{{{copy}}}</p>
  </div>
{{/center}}
