version: '3.4'

services:
  db_judicial_system:
    image: public.ecr.aws/docker/library/postgres:15-alpine
    container_name: db_judicial_system
    networks:
      - local
    environment:
      - POSTGRES_DB=dev_db
      - POSTGRES_USER=dev_db
      - POSTGRES_PASSWORD=dev_db
    ports:
      - 5432:5432

networks:
  local:
