# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

global:
  image:
    tag: latest_master

air-discount-scheme-api:
  namespace: air-discount-scheme
  image:
    repository: 821090935708.dkr.ecr.eu-west-1.amazonaws.com/air-discount-scheme-api
  env:
    BACKEND_URL: "http://web-air-discount-scheme-backend"
    SENTRY_DSN: "https://d10d7fc22f18413d97e73fab76910f07@o406638.ingest.sentry.io/5399531"
  secrets:
    AUTH_JWT_SECRET: "/k8s/air-discount-scheme/api/AUTH_JWT_SECRET"
    CONTENTFUL_ACCESS_TOKEN: "/k8s/air-discount-scheme/api/CONTENTFUL_ACCESS_TOKEN"
  healthCheck:
    liveness:
      path: /liveness
    readiness:
      path: /liveness
  ingress:
    enabled: true
  service:
    targetPort: 4242
  serviceAccount:
    create: false
  initContainer:
    create: false

air-discount-scheme-web:
  namespace: air-discount-scheme
  image:
    repository: 821090935708.dkr.ecr.eu-west-1.amazonaws.com/air-discount-scheme-web
  env:
    API_URL: "http://web-air-discount-scheme-api"
  ingress:
    enabled: true
  service:
    targetPort: 4200
  serviceAccount:
    create: false
  initContainer:
    create: false

air-discount-scheme-backend:
  namespace: air-discount-scheme
  image:
    repository: 821090935708.dkr.ecr.eu-west-1.amazonaws.com/air-discount-scheme-backend
  env:
    THJODSKRA_URL: 'https://skeyti.advania.is/ords/slrv/registry/v1.0',
  secrets:
    DB_PASS: "/k8s/air-discount-scheme/backend/DB_PASSWORD"
    AIR_ICELAND_CONNECT_API_KEY: "/k8s/air-discount-scheme/backend/AIR_ICELAND_CONNECT_API_KEY"
    ERNIR_API_KEY: "/k8s/air-discount-scheme/backend/ERNIR_API_KEY"
    THJODSKRA_USERNAME: "/k8s/air-discount-scheme/backend/THJODSKRA_USERNAME"
    THJODSKRA_PASSWORD: "/k8s/air-discount-scheme/backend/THJODSKRA_PASSWORD"
  healthCheck:
    liveness:
      path: /liveness
    readiness:
      path: /liveness
  ingress:
    enabled: true
  service:
    targetPort: 4248
  serviceAccount:
    create: false
  initContainer:
    create: true
    command: ["npx"]
    args: ["sequelize-cli", "db:migrate"]
    secrets:
      DB_PASS: "/k8s/air-discount-scheme/backend/DB_PASSWORD"
