/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Helvetica;
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
  color: #000;
  max-width: 60vw;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 26px;
  line-height: 52px;
  margin-top: 48px;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
}

h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 8px;
}

p {
  max-width: 1024px;
}

.subtitle-one {
  font-size: 16px;
  margin-bottom: 8px;
}

.subtitle-two {
  font-size: 16px;
  margin-bottom: 40px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mt-16 {
  margin-top: 16px;
}

.strong {
  font-weight: 700;
}
