@import 'theme';

.container {
  position: absolute;
  bottom: 0;
  width: $max-width-full;
  height: $spacing20;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: $spacing-px solid $gray50;
}
