.login__container {
    margin: 100px auto;
    padding: 40px;

    h1 {
        font-size: $font__large;
    }

    .login__container__field {

        padding: 0 $spacing__small;

        .login__label {
            display: block;
            margin-bottom: $spacing__small;
        }

    }

    

}