.nav {
  $c: &;
  ul {
    padding: 0;
  }

  &__container {
    padding-bottom: 10px;
    box-sizing: border-box;

    a {
      display: flex;
      justify-content: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 28px;
      color: #00003c;
      min-width: 200px;
      text-decoration: none;
      padding-bottom: 10px;

      &.active {
        color: #0061ff;
        font-weight: 600;
        border-bottom: solid 2px #0061ff;
      }
    }
  }
}
