{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": false
      }
    ],
    [
      "@babel/preset-react",
      {
        "useBuiltIns": true
      }
    ],
    "@nrwl/web/babel"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "corejs": false,
        "helpers": false,
        "regenerator": true
      }
    ]
  ]
}
