@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 300;
  src: local("IBM Plex Sans"),
    url(./fonts/IBMPlexSans-Light.ttf) format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  src: local("IBM Plex Sans"),
    url(./fonts/IBMPlexSans-SemiBold.ttf) format("truetype");
}
