.client,
.identity-resource,
.client-redirect {
  &__wrapper {
    max-width: 1024px;
  }
  &__container {
    h1 {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 52px;
      color: #00003c;
    }
  }

  &__container__form {
    padding: 44px 40px;

    /* aðal / blár / 100 */

    background: #f2f7ff;
    border-radius: 5px;
  }

  &__container__field,
  &__container__checkbox__field {
    display: block;
    position: relative;

    label {
      position: absolute;
      top: 12px;
      left: 15px;
      z-index: 1;
      color: #0061ff;
    }
    input,
    select {
      position: relative;
      flex-basis: 70%;
      font-size: 0.9rem;
    }

    span // validation
    {
      position: absolute;
      left: 60%;
      color: #fb115b;
      text-shadow: 0 0 black;
    }

    &__available {
      position: absolute;
      left: 38%;
      top: 48px;
      font-size: 0.8rem;
      opacity: 0.8;

      &.ok {
        color: green;
      }

      &.taken {
        color: red;
      }
    }
  }

  &__container__checkbox__field {
    input[type='checkbox'] {
      flex-basis: 50px;
      margin-top: 40px;
      margin-left: 15px;
    }

    .helpbox {
      position: absolute;
      left: 45px;
      top: 44px;
    }
  }

  &__container__button {
    margin: 15px 0;
  }

  &__button__show {
    background-color: transparent;
    color: #0061ff;
    font-weight: 300;
    text-decoration: underline;
    font-size: 1rem;
    padding: 0;
    cursor: pointer;
    margin: 0 14px;

    &__icon {
      @extend .fa;
      @extend .fa-caret-square-o-down;
      margin-right: 12px;
    }
  }

  ::-webkit-input-placeholder {
    /* Edge */
    opacity: 0.5;
    font-size: 0.8rem;
  }

  :-ms-input-placeholder {
    /* Internet Explorer */
    opacity: 0.5;
    font-size: 0.8rem;
  }

  ::placeholder {
    opacity: 0.5;
    font-size: 0.8rem;
  }
}
