.resource-tab-nav {
  ul {
    padding-inline-start: 0;

    li {
      padding: 10px;
      display: inline-block;
      border: solid 1px $color-border;
      border-radius: 5px;

      a {
        font-size: 0.8rem;
        cursor: pointer;
        padding: 5px;
        &:hover {
          color: $color-link;
        }

        &.active {
          color: $color-link;
          font-weight: $weight-semi-bold;
        }
      }
    }
  }
}
