$font__x-large: 1.5rem;
$font__large: 1.2rem;
$font__medium: 1rem;
$font__small: 0.9rem;
$font__x-small: 0.8rem;

$spacing__x-large: 50px;
$spacing__large: 40px;
$spacing__medium: 20px;
$spacing__small: 10px;
$spacing__x-small: 8px;