$font__x-large: 1.5rem;
$font__large: 1.2rem;
$font__medium: 1rem;
$font__small: 0.9rem;
$font__x-small: 0.8rem;

$font-family-primary: IBM Plex Sans;

$spacing__x-large: 50px;
$spacing__large: 40px;
$spacing__medium: 20px;
$spacing__small: 10px;
$spacing__x-small: 8px;

$color-body-bg: white;
$color-border: #ccdfff;
$color-bg-content: #f2f7ff;
$color-text-primary: #00003c;
$color-link: #0061ff;
$color-button-disabled: #8e949c;
$color-disabled: #f2f7ff;
$color-text-secondary: #6a2ea0;
$color-error: #fb115b;
$color-ok: green;
$color-shadow: black;
$color-cancel: #ccdfff;

$weight-semi-bold: 600;
$weight-light: 300;

$width-content: 1024px;
$border-radius: 5px;
