.client,
.identity-resource {
  &__wrapper {
    max-width: 700px;
  }
  &__container {
    h1 {
      font-family: IBM Plex Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 42px;
      line-height: 52px;
      color: #00003c;
    }
  }

  &__container__form {
    padding: 42px 113px;

    /* aðal / blár / 100 */

    background: #f2f7ff;
    border-radius: 5px;
  }

  &__container__field {
    display: block;
    position: relative;

    label {
      position: absolute;
      top: 12px;
      left: 15px;
      z-index: 1;
      color: #0061ff;
    }
    input {
      position: relative;
      flex-basis: 70%;
    }
    input[type='checkbox'] {
      flex-basis: unset;
      margin-top: 30px;
      margin-left: 8px;
    }
    span // validation
    {
      margin-left: 20px;
      color: #fb115b;
    }
  }

  &__button__show {
    background-color: transparent;
    color: #0061ff;
    font-weight: 300;
    text-decoration: underline;
    font-size: 14px;
    padding: 0;
  }
}
