header {
  width: 100%;
  max-height: 112px;
  padding: 24px 0px;
  background: #ffffff;
  display: flex;
  flex-wrap: no-wrap;
  box-sizing: border-box;

  .header__container__logo {
    flex: 1;
    align-content: flex-start;
    h1 {
      font-size: 26px;
      margin: 0;
    }
  }

  .header__container__options {
    .header__container__user {
      padding: 12px 16px;
      border: 1px solid #ccdfff;
      box-sizing: border-box;
      border-radius: 8px;
      display: flex;
      justify-content: flex-start;
      justify-self: flex-end;
      align-content: center;

      .header__username {
        font-family: IBM Plex Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: left;
      }

      button {
        border: 1px solid #ccdfff;
        box-sizing: border-box;
        border-radius: 5px;
        background: white;
        font-family: IBM Plex Sans;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px;
        letter-spacing: 0em;
        text-align: center;
        color: #00003c;
        width: 51px;
        height: 25px;
        padding: 0;
        margin-left: 15px;
        cursor: pointer;

        &:hover {
          background: #ccdfff;
        }
      }
    }
  }
}
