.nav {
  $c: &;
  ul {
    padding: 0;
  }

  &__container {
    padding-bottom: 10px;
    box-sizing: border-box;

    a {
      display: flex;
      justify-content: center;
      font-weight: $weight-light;
      font-size: 1.1rem;
      line-height: 2rem;
      color: #00003c;
      min-width: 150px;
      text-decoration: none;
      padding-bottom: 10px;

      &.active {
        color: $color-link;
        font-weight: $weight-semi-bold;
        border-bottom: solid 2px $color-link;
      }
    }
  }
}
