.users__container__field {
  span {
    left: 12px;
    top: 75px;
  }

  button {
    // Search button
  }
}

.users__claim__overlay {
  position: absolute;
  z-index: 3;
  border-radius: 5px;
  border: solid 1px $color-border;
  min-width: 300px;
  background-color: $color-body-bg;
}

.list-value {
  text-decoration: none !important;
}

.list-name {
  text-decoration: none !important;
  margin-right: 12px;
}
