.users__container__field {
  span {
    left: 70px;
    top: 75px;
  }

  button {
    // Search button
  }
}

.users__button__view {
  min-width: 100px;
}

.users__claim__overlay {
  position: absolute;
  z-index: 3;
  border-radius: $border-radius;
  border: solid 1px $color-border;
  min-width: 300px;
  background-color: $color-body-bg;
  font-size: 0.9rem;
}

.list-value {
  text-decoration: none !important;
  color: $color-text-primary !important;
  padding: 8px !important;
}

.list-name {
  text-decoration: none !important;
  margin-right: 12px;
  color: $color-text-primary !important;
  padding: 8px !important;
}
