name: Monorepo pipeline - NX cloud

on:
  pull_request:
    types:
      - opened
      - synchronize
      - labeled
  workflow_dispatch: {}

defaults:
  run:
    shell: bash

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# concurrency:
#   group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
#   cancel-in-progress: true

permissions:
  contents: read
  pull-requests: read
  actions: read

env:
  NODE_OPTIONS: --max-old-space-size=8192
  COMPOSE_HTTP_TIMEOUT: 180
  GITHUB_ACTIONS_CACHE_URL: https://cache.dev01.devland.is/
  NX_CLOUD_ACCESS_TOKEN: ${{ secrets.NX_CLOUD_ACCESS_TOKEN }}
  USE_NX_CLOUD: ${{ contains(github.event.pull_request.labels.*.name, 'nx-cloud') }}
  MAX_JOBS: 3
  MAX_TASKS_PER_AGENT: 5
  PARALLEL_TASKS: 3
  MAX_AGENTS: 10
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}
  NX_BRANCH: ${{ github.head_ref || github.ref_name }}
  NX_TARGETS: 'lint build'
  NX_VERBOSE_LOGGING: true
  NX_CLOUD_DISTRIBUTED_EXECUTION: true
  NX_CLOUD_DISTRIBUTED_EXECUTION_STOP_AGENTS_ON_FAILURE: true
  NX_CLOUD_VERSION: 14.3.0
jobs:
  prepare:
    runs-on: ec2-runners
    container:
      image: public.ecr.aws/m3u4c4h9/island-is/actions-runner-public:latest
    # GitHub's default timeout is 360 minutes
    timeout-minutes: 360
    outputs:
      node-modules-hash: ${{ steps.calculate_node_modules_hash.outputs.node-modules-hash }}
      generated-files-cache-key: ${{ steps.calculate_generated_files_cache_key.outputs.generated-files-cache-key }}
      matrix: ${{ steps.set-matrix.outputs.matrix }}
      affected: ${{ steps.set-matrix.outputs.affected }}
    if: contains(github.event.pull_request.labels.*.name, 'nx-cloud')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Keep PR run event
        uses: actions/upload-artifact@v2
        with:
          name: pr-event
          path: event.json
          retention-days: 60
      - uses: nrwl/nx-set-shas@v3
      - name: Set NX sha variables
        run: |
          echo "BASE=$NX_BASE" >> $GITHUB_ENV
          echo "HEAD=$NX_HEAD" >> $GITHUB_ENV
      - uses: actions/setup-node@v3
        with:
          node-version: '18.8.0'
      - name: Calculate cache key for node_modules
        id: calculate_node_modules_hash
        run: |
          PACKAGE_JSON_HASH=$(cat package.json | jq '{resolutions,dependencies,devDependencies}' | sha1sum -t | cut -f1 -d" ")
          echo "PACKAGE_JSON_HASH: $PACKAGE_JSON_HASH"
          NODE_MODULES_HASH=${{ runner.os }}-${{ hashFiles('yarn.lock') }}-$PACKAGE_JSON_HASH
          echo "NODE_MODULES_HASH: $NODE_MODULES_HASH"
          echo "::set-output name=node-modules-hash::$NODE_MODULES_HASH"

      - name: Calculate cache keys for generated files
        id: calculate_generated_files_cache_key
        run: |
          export HASH=${{ hashFiles('scripts/schemas.js', 'libs/cms/src/lib/generated/contentfulTypes.d.ts', 'apps/air-discount-scheme/web/i18n/withLocale.tsx', 'apps/air-discount-scheme/web/components/AppLayout/AppLayout.tsx', 'apps/air-discount-scheme/web/components/Header/Header.tsx', 'apps/air-discount-scheme/web/screens/**.tsx', 'apps/**/codegen.yml', 'libs/**/codegen.yml', 'apps/**/*.model.ts', 'libs/**/*.model.ts', 'apps/**/*.enum.ts', 'libs/**/*.enum.ts', 'apps/**/queries/**/*.tsx?', 'libs/**/queries/**/*.tsx?', 'libs/**/mutations/**/*.tsx?', 'libs/**/fragments/**/*.tsx?' , 'apps/**/*.resolver.ts', 'libs/**/*.resolver.ts', 'apps/**/*.service.ts', 'libs/**/*.service.ts', 'apps/**/*.dto.ts', 'libs/**/*.dto.ts', 'apps/**/*.input.ts', 'libs/**/*.input.ts', 'apps/**/*.module.ts', 'libs/**/*.module.ts', 'apps/**/*.controller.ts', 'libs/**/*.controller.ts', 'apps/**/*.union.ts', 'libs/**/*.union.ts', 'apps/**/*.graphql.ts', 'libs/**/*.graphql.ts', 'libs/**/*.graphql') }}
          GENERATED_FILES_KEY=${{ runner.os }}-$HASH-files-generated
          echo "GENERATED_FILES_KEY: $GENERATED_FILES_KEY"
          echo "::set-output name=generated-files-cache-key::$GENERATED_FILES_KEY"

      - name: Cache for NodeJS dependencies - host OS
        id: node-modules
        continue-on-error: true
        uses: ./.github/actions/cache
        with:
          path: node_modules
          key: ${{ steps.calculate_node_modules_hash.outputs.node-modules-hash }}-yarn

      - name: Check cache success
        run: '[[ "${{ steps.node-modules.outputs.success }}" != "false" ]] || exit 1'

      - name: Cache for generated files
        id: generated-files-cache
        continue-on-error: true
        uses: ./.github/actions/cache
        with:
          path: generated_files.tar.gz
          key: ${{ steps.calculate_generated_files_cache_key.outputs.generated-files-cache-key }}

      - name: Check cache success
        run: '[[ "${{ steps.generated-files-cache.outputs.success }}" != "false" ]] || exit 1'

      - name: Building NodeJS dependencies
        if: steps.node-modules.outputs.cache-hit != 'true'
        run: ./scripts/ci/10_prepare-host-deps.sh

      - name: Generate schemas
        if: steps.generated-files-cache.outputs.cache-hit != 'true'
        run: |
          node --version
          tar zcvf generated_files.tar.gz $(./scripts/ci/get-files-touched-by.sh yarn schemas --skip-cache | xargs realpath --relative-to $(pwd))

      - name: Calculate NX agent count
        id: set-matrix
        shell: bash
        # Turn the number-of-agents input into a JSON structure which is compatible with a Github job matrix strategy
        run: |
          NX_AFFECTED_PROJECTS_COUNT=$(npx nx print-affected --base=$BASE --head=$HEAD --select=projects | tr ',' ' ' | wc -w)
          AGENTS_COUNT=$(node ./scripts/ci/_num_agents.js $NX_AFFECTED_PROJECTS_COUNT $MAX_AGENTS $MAX_TASKS_PER_AGENT | jq -r '.chunksCount')
          AGENTS_JSON_ARRAY=$(node -e "console.log(JSON.stringify(Array.from(new Array($AGENTS_COUNT)).map((_, i) => i + 1)));")

          echo "affected projects count: $NX_AFFECTED_PROJECTS_COUNT"
          echo "agents count: $AGENTS_COUNT"
          echo "agents json: $AGENTS_JSON_ARRAY"

          echo "matrix=$AGENTS_JSON_ARRAY" >> $GITHUB_OUTPUT
          echo "affected=$NX_AFFECTED_PROJECTS_COUNT" >> $GITHUB_OUTPUT

  nx-cloud-agent:
    needs: prepare
    runs-on: ec2-runners
    container:
      image: public.ecr.aws/m3u4c4h9/island-is/actions-runner-public:latest
    timeout-minutes: 30
    strategy:
      matrix:
        agent:
          - ${{fromJson(needs.prepare.outputs.matrix)}}
    defaults:
      run:
        working-directory: ${{ github.workspace }}
        # Specify shell to help normalize across different operating systems
        shell: bash
    if: needs.prepare.outputs.affected > 0 && contains(github.event.pull_request.labels.*.name, 'nx-cloud')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - name: Set NX sha variables
        run: |
          echo "BASE=$NX_BASE" >> $GITHUB_ENV
          echo "HEAD=$NX_HEAD" >> $GITHUB_ENV
      - name: Setup yarn
        run: npm install -g yarn

      - name: Cache for NodeJS dependencies - host OS
        id: node-modules
        continue-on-error: true
        uses: ./.github/actions/cache
        with:
          path: node_modules
          key: ${{ needs.prepare.outputs.node-modules-hash }}-yarn

      - name: Check cache success
        run: '[[ "${{ steps.node-modules.outputs.success }}" != "false" ]] || exit 1'

      - name: Cache for generated files
        id: generated-files-cache
        continue-on-error: true
        uses: ./.github/actions/cache
        with:
          path: generated_files.tar.gz
          key: ${{ needs.prepare.outputs.generated-files-cache-key }}

      - name: Check cache success
        run: '[[ "${{ steps.generated-files-cache.outputs.success }}" != "false" ]] || exit 1'

      - name: Untar generated files
        run: tar zxvf generated_files.tar.gz

      # NOTE: NX_TASK_RUNNER env is not working in NX v13, we need to set 'nx-cloud' as the task runner by patching nx.json
      - name: Patch nx.json to set nx-cloud
        run: ./scripts/ci/patch-nx-json.sh

      - name: Start Nx Agent ${{ matrix.agent }}
        run: npx "@nrwl/nx-cloud@${NX_CLOUD_VERSION}" start-agent
        env:
          NX_AGENT_NAME: ${{matrix.agent}}

      - name: fix hanging post job
        run: git config --local --get remote.origin.url

  nx-cloud-main:
    needs: prepare
    runs-on: ec2-runners
    container:
      image: public.ecr.aws/m3u4c4h9/island-is/actions-runner-public:latest
    timeout-minutes: 30
    defaults:
      run:
        working-directory: ${{ github.workspace }}
        # Specify shell to help normalize across different operating systems
        shell: bash
    if: needs.prepare.outputs.affected > 0 && contains(github.event.pull_request.labels.*.name, 'nx-cloud')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: nrwl/nx-set-shas@v3
      - run: |
          echo "BASE=$NX_BASE" >> $GITHUB_ENV
          echo "HEAD=$NX_HEAD" >> $GITHUB_ENV
      - name: Setup yarn
        run: npm install -g yarn

      - name: Cache for NodeJS dependencies - host OS
        id: node-modules
        continue-on-error: true
        uses: ./.github/actions/cache
        with:
          path: node_modules
          key: ${{ needs.prepare.outputs.node-modules-hash }}-yarn

      - name: Check cache success
        run: '[[ "${{ steps.node-modules.outputs.success }}" != "false" ]] || exit 1'

      - name: Cache for generated files
        id: generated-files-cache
        continue-on-error: true
        uses: ./.github/actions/cache
        with:
          path: generated_files.tar.gz
          key: ${{ needs.prepare.outputs.generated-files-cache-key }}

      - name: Check cache success
        run: '[[ "${{ steps.generated-files-cache.outputs.success }}" != "false" ]] || exit 1'

      - name: Untar generated files
        run: tar zxvf generated_files.tar.gz

      # NOTE: NX_TASK_RUNNER env is not working in NX v13, we need to set 'nx-cloud' as the task runner by patching nx.json
      - name: Patch nx.json to set nx-cloud
        run: ./scripts/ci/patch-nx-json.sh

      - name: Run NX targets
        run: |
          ./scripts/ci/run-nx-affected.sh lint build

      - name: Stop all running agents for this CI run
        # It's important that we always run this step, otherwise in the case of any failures in preceding non-Nx steps, the agents will keep running and waste billable minutes
        if: ${{ always() }}
        run: npx nx-cloud stop-all-agents

      - name: fix hanging post job
        run: git config --local --get remote.origin.url

  # check-matrix:
  #   runs-on: ec2-runners
  #   container:
  #     image: public.ecr.aws/m3u4c4h9/island-is/actions-runner-public:latest
  #   needs: [nx]
  #   outputs:
  #     matrix: ${{ steps.matrix.outputs.matrix }}
  #   steps:
  #     - uses: actions/download-artifact@v3
  #     - run: |
  #         echo "Check matrix"
  #         matrix="$(cat */matrix | jq -c --slurp .)"
  #         echo "matrix: $matrix"
  #         echo "::set-output name=matrix::$matrix"
  #       id: matrix

  # TODO: trying to dynamically get the the matrix result output, unfinished
  # success:
  #   if: always()
  #   name: 'Success ${{ matrix.includes.nx-target }}'
  #   runs-on: ec2-runners
  #   needs:
  #     - check-matrix
  #   container:
  #     image: public.ecr.aws/m3u4c4h9/island-is/actions-runner-public:latest
  #   strategy:
  #     fail-fast: false
  #     matrix:
  #       target: ${{ fromJSON(needs.check-matrix.outputs.nx-target) }}
  #   steps:
  #     - name: Check nx success
  #       run: '[[ ${{ toJSON(needs.nx.result) }} != "failure" ]] || exit 1'
  #     - name: Announce success
  #       run: echo "${{ toJSON(needs.nx) }} is successful"
